
<div class="col-xs-6">
  <div *ngIf="character">
    <p><img src="{{character.Picture}}" alt="{{character.FirstName}} {{character.LastName}}" /></p>
  
  
    <label>First Name: </label><input [(ngModel)]="character.FirstName" placeholder="FirstName" class="form-control">
    <label>Last Name: </label><input [(ngModel)]="character.LastName" placeholder="LastName" class="form-control">
    <label>Occupation: </label><input [(ngModel)]="character.Occupation" placeholder="Occupation" class="form-control">
    <label>Gender: </label><input [(ngModel)]="character.Gender" placeholder="M or F" class="form-control">
    <label>Picture: </label><input [(ngModel)]="character.Picture" placeholder="Picture" class="form-control">
  
  <br/>
 <button class="btn btn-primary" (click)="goBack()">Back</button>
  
  &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" (click)="save()">Save</button> 
  </div>

  <br/>
  </div>
